$portrait: url('../img/portrait.jpg');

.menu-btn {
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 30px;
  cursor: pointer;
  .btn-line {
    width: 28px;
    height: 2px;
    background-color: setTextColor($primary-color);
    margin-bottom: 5px;
    @include easeOut();
  }
  &.active {
    .btn-line:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
    .btn-line:nth-child(2) {
      opacity: 0;
      width: 0;
    }
   .btn-line:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

nav {
  width: 100%;
  display: flex;
  visibility: hidden;
  > div {
    flex:1;
    overflow: hidden;
    height: 100vh;
    @include flex-c;
    @include easeOut();
  }
  .menu-brand {
    background-color: rgba($primary-color, 0.7);

    transform: translateY(100%);
    
    .portrait {
      width: 24rem;
      height: 24rem;
      background: $portrait center/contain no-repeat;
      border-radius: 100%;
      border: 3px solid $secondary_color;
    }
  }
  .menu-nav {
    background-color: darken($color: $primary_color, $amount: 10);
    transform: translateY(-100%);
    .nav-item {
      @include easeOut();
      transform: translateX(600px);
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: 0.1s * $i;
        }
      }
      .nav-link {
        display: inline-block;
        font-size: 2rem;
        padding: 0.5rem;

      }
      &.current {
        a {
          color: $secondary_color;
        }
      }
    }
  }
  &.active {
    visibility: visible;
    > div {
      transform: translateY(0);
    }
    .nav-item {
      transform: translateX(0);
    }
  }
}

